/*Each one of these is 30%, making 90% total, plus 1.66 times 6 for the margins, which equals 99.96% (nearly 100%)*/

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

h2 {
	font-family: Raleway;
	font-size: 1.5em;
	font-weight: 800;
	margin-left: 1.66%;
	text-transform: uppercase;
	border-bottom: 0.5px solid gray;
	width: 30%;
	padding-bottom: 10px;
}

h3 {
	font-family: Raleway;
	font-weight: 300;
	line-height: .01;
	margin-left: 1.66%;
	padding-top: 1px
}